<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<style>
    .cs-social {
    /* 32px - 80px */
    margin-top: clamp(2rem, 6vw, 5rem);
    display: inline-flex;
    justify-content: flex-start;
    gap: 0.75em;
  }
    .cs-social-link {
    /* 32px - 52px */
    width: clamp(2rem, 4vw, 3.25rem);
    height: clamp(2rem, 4vw, 3.25rem);
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: transform 0.3s, background-color 0.3s;
  }
  .cs-social-link:hover {
    background-color: #666;
    transform: translateY(-0.1875rem);
  }
 .cs-social-img {
    /* 14px - 24px */
    height: clamp(0.875rem, 2vw, 1.5rem);
    width: auto;
    display: block;
  }
</style>


<footer id="footer">
    <div class="container">
        <div class="left-section">
            
                
            <a href="/" class="cs-logo" aria-label="back to home">
                <img src="/assets/images/navlogo.jpg" alt="logo" width="210" aria-hidden="true" decoding="async">
            </a>
                        <Div class="cs-topper" style="color:#999"></Div>
            <Div class="cs-topper" style="color:#000; margin-bottom: 30px;">Detroit Yoga & Meditation Classes</Div>
            
            
            <div class="cs-social" style="margin: 20px 0px 50px;">

<a class="cs-social-link" aria-label="visit facebook profile" href="">
    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/Facebook.svg" alt="facebook" width="6" height="11">
</a>
<a class="cs-social-link" aria-label="visit instagram profile" href="">
    <img class="cs-social-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Social/instagram.svg" alt="instagram" width="11" height="11">
</a>

       
            </div>
        </div>
        
        <div class="right-section">
            <div class="lists">
                
                <ul>
                    <li>
                        <h2>Contact Us</h2>
                    </li>
<div class="cs-topper"> Call or Text:</div>
                    <li style="padding-bottom: 30px;">
                        <a href="tel:{{client.phoneForTel}}">
                           
                            {{client.phoneFormatted}}
                        </a>
                    </li>

                    <li>
                        <a href="/#top">Top of page</a>
                    </li>
                </ul>

                
            </div>
        </div>
    </div>
    <STYLE>
      #footer  .credit {color:black;}
        .gandalfpill {transition: all ease .2s;margin-left:5px;vertical-align:middle;  display: inline-block; border:.5px solid black; background-color: white; padding:0 8px; border-radius: 999px;}
    .gandalfpill:hover img {filter: grayscale(1) brightness(1000%);transition: all ease .8s;}
    .gandalfpill:hover {border:1px  solid white; background-color: black;  transform: translateY(-5px); transition: all ease .2s;}
    .back2top {font-size:2px}
    </STYLE>
    <div class="credit">
        <span>Website by</span>
       
        <a target="_blank" class="gandalfpill" href="https://designgandalf.com/"><img style="vertical-align:middle; " loading="lazy" decoding="async" src="/assets/svgs/gandalflogo.svg" alt="logo" height="12"></a>
    </div>
</footer>