<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->


<style>
    /*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-584 {
    padding: var(--sectionPadding);
    background-color:black;
  }
  #steps-584 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-584 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #steps-584 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #steps-584 .cs-card-group {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
  #steps-584 .cs-item {
    list-style: none;
    min-height: 18.125rem;
    /* 16px - 24px left & right */
    padding: 1rem clamp(1rem, 1.8vw, 1.5rem);
    border-bottom: 1px solid var(--bodyTextColorWhite);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #steps-584 .cs-item:last-of-type {
    border: none;
  }
  #steps-584 .cs-h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2em;
    text-align: left;
    margin: 0 0 0.75rem 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #steps-584 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #steps-584 .cs-number {
    font-size: 3.8125rem;
    font-weight: 900;
    line-height: 1.2em;
    /* auto pushes against other elements in a flexbox, this one forces it to be at the bottom of the flexbox */
    margin: auto 0 0 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-584 .cs-container {
    max-width: 80rem;
  }
  #steps-584 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #steps-584 .cs-item {
    width: 48%;
  }
  #steps-584 .cs-item:nth-of-type(3) {
    border-bottom: none;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #steps-584 .cs-card-group {
    flex-wrap: nowrap;
  }
  #steps-584 .cs-item {
    border-bottom: none;
    border-right: 1px solid var(--bodyTextColorWhite);
  }
}
                                
</style>

<section id="steps-584">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title" data-aos="fade-up">How to Get Started</h2>
            <h3 class="cs-topper">Book Your Class Today</h3>
            <p class="cs-item-text">
                Whether you’re ready to try yoga for the first time or deepen your existing practice, we make it easy:
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">01</span>
                <h3 class="cs-h3">Visit Our Online Schedule</h3>
                <p class="cs-item-text">Find the perfect class that suits your needs.</p>
            </li>
            <li class="cs-item">
                <span class="cs-number">02</span>
                <h3 class="cs-h3">Reserve Your Spot</h3>
                <p class="cs-item-text">Easily secure your place in minutes.</p>
            </li>
            <li class="cs-item">
                <span class="cs-number">03</span>
                <h3 class="cs-h3">Arrive at Our Studio</h3>
                <p class="cs-item-text">Begin your yoga journey at our Hamtramck location.</p>
            </li>
        </ul>
        <div class="cs-action">
            <a href="#" class="cs-button-solid">View Class Schedule</a>
        </div>
    </div>
</section>
