<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->


<style>
    /*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-508 {
        padding: var(--sectionPadding);
    }
    #reviews-508 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    #reviews-508 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #reviews-508 .cs-text {
        margin-bottom: 1rem;
    }
    #reviews-508 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
   
    #reviews-508 .cs-review {
        width: 100%;
        max-width: 39.5rem;
        /* 24px - 60px top & bottom */
        /* 16px - 60px left & right */
        padding: clamp(1.5rem, 5.8vw, 3.75rem) clamp(1rem, 5vw, 3.75rem);
        border: 1px solid #f1f1f4;
        /* prevents padding from affecting width & height */
        box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    #reviews-508 .cs-review-p {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        line-height: 1.5em;
        width: 100%;
        /* 16px - 32px */
        margin: 0 0 clamp(1rem, 3vw, 2rem) 0;
        color: var(--bodyTextColor);
    }
    #reviews-508 .cs-info {
        display: inline-block;
    }
    #reviews-508 .cs-profile {
        width: 3.75rem;
        height: auto;
        margin-right: 1.25rem;
        border-radius: 50%;
        display: block;
    }
    #reviews-508 .cs-name {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        line-height: 1.5em;
        font-weight: 700;
        margin-bottom: 0.75rem;
        color: var(--headerColor);
        display: block;
    }
    #reviews-508 .cs-location {
        /* 13px - 16px */
        font-size: clamp(0.8125rem, 1.5vw, 1rem);
        line-height: 1.2em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: var(--headerColor);
        display: block;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-508 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    #reviews-508 .cs-review {
        width: 73%;
    }
}

                                
</style>

<section id="reviews-508">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper" data-aos="fade-up">Feedback</span>
            <h2 class="cs-title">What Our Clients Say About Us</h2>
            <p class="cs-text">
                At Strong Arm Personal Security, we know how important it is to feel safe and protected. That’s why we provide tailored security services for individuals, businesses, and events in Monroe, MI, and Metro Detroit. Our trained professionals specialize in personal protection, business security, and event safety, ensuring your peace of mind every step of the way. Don’t leave your safety to chance—partner with experts who are committed to keeping you and your assets secure.
            </p>
            <a href="tel:{{client.phoneForTel}}" class="cs-button-solid">Contact Us</a>
        </div>
        <div class="cs-review">
            <p class="cs-review-p">
                Working with Strong Arm Personal Security was a game-changer for my business. Their team was professional, reliable, and went above and beyond to ensure every aspect of our security needs was met. From the initial consultation to the final execution, they made us feel completely at ease. I highly recommend their services to anyone looking for trustworthy and effective security solutions.
            </p>
            <img class="cs-profile" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/profile1.png" alt="profile" width="60" height="60">
            <div class="cs-info">
                <span class="cs-name">Rene Rodriguez</span>
                <span class="cs-location">Dispenary Owner, Hazel Park</span>
            </div>
        </div>
    </div>
</section>
                                