---
title: 'Book a Class'
description: 'Book a Class'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'book/'
eleventyNavigation:
    key: Services
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    
{% endblock %}

{% block body %}


                             
<div id="book" style="padding-top:100px">

<script src='https://teamupstatic.com/teamup.js' type='text/javascript'></script>
<script type='text/javascript'>
teamup.calendar({
provider_id:9818075,
type:"main",
width:"100%",
specific_pages:[],
view:"schedule.month",
venue_ids:"~all",
free_trial_membership:"",
disable_venue_selector:false,
version: 3
});
</script>

</div>

{% endblock %}